.menu {
  @include nav($fs: 14px, $fw: 400, $color: $white, $tt: uppercase, $pl: 35px, $pr: 0, $h-color: null);
  margin-top: 10px;
  li {
      position: relative;
      @media (max-width: 991px) {
        display: block;
      }
    a {
      @media (max-width: 991px) {
        padding: 20px 30px;
        text-align: left;
      }

      @media (max-width: 1199px) {
        padding-left: 20px;
      }
    }
    ul{
      @include lg{
        position: absolute;
        visibility: hidden;
        opacity: 0;
        width: 200px;
        background-color: $white;
        border-radius: 10px;
        padding: 10px 0;
        transition: .3s;
        top: 100px;
        li{
          display: block;
          a{
            color: $black;
            text-align: left;
            padding: 10px 20px;
            font-weight: 500;
            @include hover{
              color: $theme-color;
              background-color: #efedf3;
            }
          }
        }
      }
    }
    @include hover{
      ul {
        visibility: visible;
        opacity: 1;
        top: 40px;
      }
    }
  }
}

.mm-spn a, .mm-spn span{
  display: none;
}

.mobile-menu span{
  background: $white;
}
.mobile-menu:after,
.mobile-menu:before{
  background: $white;
}

.blog-header,
.blog-single-header{
  .mobile-menu span{
    background: $global-color;
  }
  .mobile-menu:after,
  .mobile-menu:before{
    background: $global-color;
  }
}


/*----------------------------------------*/
/* menu 2
/*----------------------------------------*/
.menu-2{
  @include nav($fs: 14px, $fw: 400, $color: $black, $tt: uppercase, $pl: 35px, $pr: 0, $h-color: null);
    li {
      position: relative;
      @media (max-width: 991px) {
        display: block;
      }
    a {
      @media (max-width: 991px) {
        padding: 20px 30px;
        text-align: left;
        color: $white;
      }

      @media (max-width: 1199px) {
        padding-left: 20px;
      }
    }
    ul{
      @include lg{
        position: absolute;
        visibility: hidden;
        opacity: 0;
        width: 200px;
        background-color: $white;
        border-radius: 10px;
        padding: 10px 0;
        transition: .3s;
        top: 100px;
        li{
          display: block;
          a{
            color: $black;
          }
        }
      }
    }
    @include hover{
      ul {
        visibility: visible;
        opacity: 1;
        top: 40px;
      }
    }
  }
}