/*----------------------------------------*/
/* Contact page
/*----------------------------------------*/
.contact-page{
    .contact-content{
        h2{
            margin-top: -15px !important;
        }
    }
    .contact-phone{
        a{
            color: $theme-color;
            span{
                transform: translateY(2px);
                display: inline-block;
            }
        }
    }
    .contact-form{
        @include shadow($b: 25px, $color: #CECCCC, $opacity: 35%);
        .form-input{
            &:focus{
                border: 1px solid $theme-color;
            }
        }
        padding: 15px 15px;
        @include md{
            padding: 50px 40px;
        }
    }
    button{
        cursor: pointer;
    }
}