/*----------------------------------------*/
/* price Page Section Area
/*----------------------------------------*/
.price-banner.banner-area{
    height: 400px;
    background: #8d55fd;
    background-position: top;
    &::after{
        display: none;
    }
    .banner-content{
        height: 400px;
        padding-top: 40px;
        @include lg{
            padding-top: 65px;
        }
    }
}

.price-page.price-area{
    .service-content{
        h5{
            margin-top: -4px;
        }
    }
    .price-box{
        @include shadow($b: 30px, $color: #B5B3B9, $opacity: 30%);
    }
    .price-value{
        padding-bottom: 20px;
        border-bottom: 1px solid #cccccccc;
        & > span{
            display: inline-block;
            font-size: 26px;
            font-weight: 500;
            margin-left: 50px;
            transform: translateY(-15px);
        }
        p{
            margin-top: -30px;
            font-size: 40px;
            span{
                display: inline-block;
                &:not(:first-child){
                    margin-left: 10px;
                }
            }
        }
    }
    .price-service-list li{
        &:not(:last-child) {
            padding-bottom: 15px;
        }
    }
    .price-control-btn{
        text-align: center;
        @include md{
            text-align: left;
        }
        a{
            display: inline-block;
            padding: 5px 15px;
            border: 1px solid #cccc;
            margin-top: 20px;
            color: $global-color;
        }
        a.active{
            border: none;
            border-bottom: 3px solid $theme-color !important;
        }
    }
}

.price-page.price-area-2{
    .price-box{
        border: 1px solid transparent;
        transition: .3s;
        @include hover{
            border: 1px solid #9c7dfb;
        }
    }
    .price-icon {
        @include size(70px);
        background-color: #9c7dfb;
        margin: 0 auto;
        border-radius: 50%;
        color: #fff;
        line-height: 70px;
        font-size: 24px;
    }
    .price-value{
        p{
            font-size: 24px;
            margin-top: 0;
        }
    }
    .price-contact{
        h4{
            color: #382c4d;
        }
        a{
            color: $theme-color;
            font-weight: 400;
            margin-left: 10px;
            font-weight: 500;
        }
    }
}

.tabs.v1{
    .t-panel-container{
        .t-panel{
            transition: all 0.2s ease-in-out;
            display: none;
            &.active{
                display: block;
            }
        }
    }
}